body {
  background:black;
  color:white;
  font-family: monospace;
  text-align:center;
  padding-top:100px;
}

a {
  color:red;
  text-decoration:none;
  font-size:20px;
}

a:hover {
  text-decoration:underline;
}
